.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;

    padding: 0 24px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0;

    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.2)
}

.logo {
    height: 36px;
    margin-right: 12px;
}
.logo > img {
    width: 36px;
    height: 36px;
}

.title {
    margin: 0;
    height: 32px;
}
.title > img {
    height: 32px;
}

.link {
    margin: 12px;
    font-size: 16px;
    color: black;
    font-family: "Microsoft YaHei", "Hiragino Sans GB";
    text-decoration: none;
}
