@import '~rsuite/lib/styles/themes/default/index.less';
@import './custom-theme.less';

body {
    font-family: @font-family-base;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

html, * {
    box-sizing: border-box;
}
