@import '../../css/global.less';

.equip {
    text-align: left;
    padding: 8px;
    background-color:#132221;
    max-width: 500px;
    margin: auto;

    &.empty-equip {
        text-align: center;
        padding: 48px 24px;
        font-size: 28px;
        i {
            color: @base-color;
            font-size: 36px;
        }
        div {
            margin-top: 24px;
            color:#FF8000;
        }
    }

    >li {
        display: block;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 20px;
        >.right {
            float: right;
        }
        >span {
            color: #8FBC8F;
        }
    }
    >li.equip-name {
        display: inline;
        color:#F12Cf1;
        &.rare {
            color:#FF8000;
        }
    }

    >li.basic-info {
        color:#F2F2F2;
        &.extension {
            opacity: 0.7;
        }
    }
    >li.plus-info {
        color:#00c848;
    }
    >li.quality {
        color:#FFFF00;
    }
    >li.score {
        color:#FF8000;
    }
    >li.hole-inactive > span {
        color:#9b9b9b;
    }
    >li.hole-active > span {
        color:#00c848;
    }
}

.slot {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}
