@import '../../css/global.less';
.selected-talent-icon {
    position: absolute;
    left: 0;
    margin-left: 8px;
    width: 36px;
    height: 36px;
    border-radius: 4px;
}

.option-talent-icon {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0;
    background-size: 30px 30px;
    &.active {
        box-shadow: 0 0 4px 3px fade(@base-color, 50%);
    }
}

.talent-options {
    height: 48px;
}
.talent-option {
    text-align: center;
    display: inline-block;
    width: 50px;
}

.talent-selection {
    .talent-name {
        line-height: 20px;
        height: 20px;
        font-size: 18px;
    }
    .talent-desc {
        font-size: 12px;
        line-height: 16px;
        height: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
